<nav>
  <label class="logo" routerLink="/dashboard">Ecom</label>
  <input type="checkbox" id="check" />
  <label for="check" class="hamberger-btn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li><button class="btn btn-primary" *ngIf="isAdmin" routerLink="/dashboard/admin" >ADMIN</button></li>
    <!-- <li><i class="fa fa-user-circle-o fa-2x"  aria-hidden="true"></i></li> -->
    <li><i class="fa fa-shopping-cart fa-2x" routerLink="/dashboard/profile"></i></li>
    <li><i class="fa fa-sign-out fa-2x" (click)="logout()" aria-hidden="true"></i></li>
  </ul>
</nav>