<app-sidebar></app-sidebar>
  <div class="container mt-3 mt-md-5">
    <h2 class="text-charcoal hidden-sm-down">Your Orders</h2>
    <h5 class="text-charcoal hidden-md-up">Your Orders</h5>
    <div class="row">
      <div class="col-12">
        <div class="list-group mb-5">
          <div class="list-group-item p-3 bg-snow" style="position: relative;">
            <div class="row w-100 no-gutters">
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Email</h6>
                <a href="" class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{userDetails?.userEmail}}</a>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Mobile</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{userDetails?.userMobile}}</p>  
              </div>
              <!-- <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Total Money Spent</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">{{}}</p> 
              </div> -->
              <!-- <div class="col-6 col-md"> 
                <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">Late M. Night</p> 
              </div>
              <div class="col-12 col-md-3">
                <a href="" class="btn btn-primary w-100">View Order</a>
              </div> -->
            </div>
            
          </div>
          <div class="list-group-item p-3 bg-white">
            <div class="row no-gutters">
              <div class="col-12 col-md-9 pr-0 pr-md-3">
                <div class="alert p-2 alert-success w-100 mb-0">
                  <h6 class="text-green mb-0"><b>Shipped</b></h6>
                  <!-- <p class="text-green hidden-sm-down mb-0">Est. delivery between Aug 5 – Aug 9th, 2017</p> -->
                </div>
              </div>
              <div class="col-12 col-md-3">
                <a href="" class="btn btn-secondary w-100 mb-2">Track Shipment</a>
              </div>
              <div class="row no-gutters mt-3" *ngFor="let order of myorders">
                <div class="col-3 col-md-1">
                  <img class="img-fluid pr-3" src="{{order?.productImage}}" alt="">
                </div>
                <div class="col-9 col-md-8 pr-0 pr-md-3">
                  <h6 class="text-charcoal mb-2 mb-md-1">
                    <a href="" class="text-charcoal">{{order?.productName}}</a>
                  </h6>
                  <ul class="list-unstyled text-pebble mb-2 small">
                    <li class="">
                      <!-- <b>Color:</b> Red -->
                      {{order?.productDescription}}
                    </li>
                    <!-- <li class="">
                      <b>Size:</b> L
                    </li> -->
                  </ul>
                  <h6 class="text-charcoal text-left mb-0 mb-md-2"><b>$ {{order?.orderPrice}}</b></h6>
                </div>
                <div class="col-12 col-md-3 hidden-sm-down">
                  <a href="" class="btn btn-secondary w-100 mb-2">Buy It Again</a>
                  <a href="" class="btn btn-secondary w-100">Request a Return</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  <!--     <div class="col-12 col-md-4">
        <div class="pt-5 pt-md-0">
          <div class="list-group mb-3">
            <div class="list-group-item p-3 bg-snow">
              <h6 class="mb-0">Order Summary</h6>
            </div>
            <div class="list-group-item py-2 px-3 bg-white">
              <div class="row w-100 no-gutters">
                <div class="col-6 text-pebble">
                  Subtotal
                </div>
                <div class="col-6 text-right text-charcoal">
                  $54.97
                </div>
              </div>
            </div>
            <div class="list-group-item py-2 px-3 bg-white">
              <div class="row w-100 no-gutters">
                <div class="col-6 text-pebble">
                  Sales Tax
                </div>
                <div class="col-6 text-right text-charcoal">
                  $4.30
                </div>
              </div>
            </div>
            <div class="list-group-item py-2 px-3 bg-white">
              <div class="row w-100 no-gutters">
                <div class="col-6 text-pebble">
                  Shipping
                </div>
                <div class="col-6 text-right text-charcoal">
                  FREE
                </div>
              </div>
            </div>
            <div class="list-group-item py-2 px-3 bg-white">
              <div class="row w-100 no-gutters">
                <div class="col-8 text-pebble">
                  Gift certificate
                </div>
                <div class="col-4 text-right text-red text-charcoal">
                  -$5.55
                </div>
              </div>
            </div>
            <div class="list-group-item py-2 px-3 bg-snow">
              <div class="row w-100 no-gutters">
                <div class="col-8 text-charcoal">
                  <b>Total</b>
                </div>
                <div class="col-4 text-right text-green">
                  <b>$53.65</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  
  <!-- <div class="p-3 hidden-md-up"></div>
  <div class="mobile-nav hidden-md-up">
    <a href="">
      <i class="fa fa-home"></i>
      Deals
    </a>
    <a class="" href="">
      <i class="fa fa-th-large"></i>
      Categories
    </a>
    <a href="">
      <i class="fa fa-search"></i>
      Search
    </a>
    <a href="" class="active">
      <i class="fa fa-shopping-cart"></i>
      Cart
    </a>
    <a class="" href="">
      <i class="fa fa-user"></i>
      Account
    </a>
  </div> -->